
/* src/pages/Home/Home.css */

/* 
   
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001f1c;
  color: white;
  min-height: 100vh;
}

.hero_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.hero_content--title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero_content--text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero_content--button {
  background-color: transparent;
  border: 2px solid #c8e100;
  color: #c8e100;
  padding: 10px 25px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.hero_content--button:hover {
  background-color: #c8e100;
  color: #001f1c;
}

.hero_content--image {
  max-width: 450px;
  border-radius: 15px;
  border: 2px solid #c8e100;
}
*/

/* Estilos específicos de la página Home */

.home-page {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #001f1c;
}

